header {
	text-align: right;
}
h1 { font-size: large; }

.main {font-family:'Marck Script';
font-size: large;
text-indent: 7mm;}
.mainer {text-decoration: underline; 
	font-size:x-large;
font-family:'Marck Script';
text-indent: 7mm;}
