			body
			{
				background-color:			#999999;
			}
						
			.wrapper
			{
				padding:					50px;
				margin:						auto;
				width:						700px;
				background-color:			#FFFFFF;
			}

			.container
			{

				margin:						auto;
				font-family:				"Times New Roman", 'Times', sans-serif;
				line-height:				18px;
				font-size:					1em;
			}

			.navigation
			{
				display:					flex;
				justify-content: 			space-between;
			}

			.terminal
			{
				
				font-family:				"Lucida Console", 'Lucida', monospace;
				font-size:					0.8em;
				font-weight: 				500;
				line-height:				15px;
				white-space:				pre;
			}
