table {
	border-collapse: collapse;
  	counter-reset: k 65;

}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
}

td:before {
    content: counter(k);
    counter-increment: k -1;
}

TR:nth-child(even)>TD:nth-child(odd) {
	background-color: black;
	color: white;
}

TR:nth-child(odd)>TD:nth-child(even) {
	background-color: black;
	color: white;
}