.class_1 {
	font-size: 100%;
}

.class_2 {
	text-align: right;
}

.class_3 {
	font-size: 150%;
	text-decoration: underline;
	font-family: 'Marck Script', cursive;
}

.class_4	{
	font-family: 'Marck Script', cursive;
}
