header {text-align: right !important}
.redrow{text-indent: 20px}
.textstyle {font-family: "Gabriola", Cursive; font-style: oblique; font-size: 150%; font-weight: 100}
h3 {text-decoration: underline; font-weight: 900 !important}
h1 {font-size: medium}