.border {
	background: url("../pics/t-l.gif") no-repeat top left,
				url("../pics/t-r.gif") no-repeat top right,
				url("../pics/b-l.gif") no-repeat bottom left,
				url("../pics/b-r.gif") no-repeat bottom right,
				url("../pics/l.gif") repeat-y left,
				url("../pics/t.gif") repeat-x top,
				url("../pics/r.gif") repeat-y right,
				url("../pics/b.gif") repeat-x bottom;
	padding: 2em;	
}

.border2 {
/*
	border-style: solid;
	border-width: 30px;
	border-image-source: url("../pics/l.gif");
	border-image-slice: 100;
	border-image-width: 3;
*/
	border-style: solid;
	border-image-source: url("https://avatanplus.com/files/resources/original/57a27fc82d96915652c325fb.png");
	border-image-slice: 100;
	border-image-repeat: round;
	border-image-width: 20px;
	padding: 20px;
}